/*editor*/
#markdown-editor {
    width: calc(100% - 20px);
    /*width: auto;*/
    margin-left: 10px;
    height: 27px;
    background-color: rgb(176, 176, 176);
    /*overflow-x: auto;*/
    padding: 0;
}
.markdown-btn {
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid black;
    display: inline-table;
    margin: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/*buttons*/
/*TODO:  images*/
/*DONE: bold, italics, quote, lists, numbered lists, break / line, headers 1-6, code, links*/
#mdbtn-bold {
    background-image: url('/src/img/BOLD.png');
}
#mdbtn-italics {
    background-image: url('/src/img/ITAL.png');
}
#mdbtn-code {
    background-image: url('/src/img/CODE.png');
}
#mdbtn-quote {
    background-image: url('/src/img/QUOT.png');
}
#mdbtn-list {
    background-image: url('/src/img/LIST.png');
}
#mdbtn-numlist {
    background-image: url('/src/img/NLST.png');
}
#mdbtn-break {
    background-image: url('/src/img/PGBR.png');
}
#mdbtn-h1 {
    background-image: url('/src/img/HEA1.png');
}
#mdbtn-h2 {
    background-image: url('/src/img/HEA2.png');
}
#mdbtn-h3 {
    background-image: url('/src/img/HEA3.png');
}
#mdbtn-h4 {
    background-image: url('/src/img/HEA4.png');
}
#mdbtn-h5 {
    background-image: url('/src/img/HEA5.png');
}
#mdbtn-h6 {
    background-image: url('/src/img/HEA6.png');
}
#mdbtn-link {
    background-image: url('/src/img/LINK.png');
}

/*Preview styles*/
code {
    background-color: rgba(128, 128, 128, 0.11);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid grey;
}

blockquote {
    border-left: 5px solid green;
    padding: 1px 5px 1px;
    background-color: rgba(0, 128, 47, 0.11);
    border-radius: 0 10px 10px 0;
}

hr {
    border: 1px solid green;
}

li {
    background-color: rgba(0, 128, 47, 0.05);
    border-bottom: 1px solid rgba(0, 128, 47, 0.11);
}
