#submit {
    margin-left: calc(50% - 50px);
}

#cont-title {
    font-family: MV Boli;
    font-size: 24pt;
    text-align: center;
    margin-top: 50px;
}

#post-title {
    font-size: 16pt;
}

#post-body,
#comment-body {
    height: 150px;
    padding: 5px;
    margin-top: 0;
    width: calc(100% - 20px);
    resize: none;
    border-radius: 0 0 15px 15px;
}

#post-tags {
    height: 8px;
    font-size: 8pt;
    line-height: 8pt;
    /*width: 50%;*/
    border-radius: 10px;
}
